<!DOCTYPE HTML>
<%= render "shared/second-header" %>
<div class='nutrients-main'>

  <%# 主食 %>
  <div class='staple-food-main'>
    <h2 class='staple-food-title'>
      主食
    </h2>
    <div class='staple-food-text'>
      <p class='input-text'>
        1. 食品名を選択してください
      </p>
      <p class='input-text2'>
        2. 数を選択してください
      </p>
    </div>
    <div class='staple-food-input'>
      <div class='food-name1'>
        <%= collection_select(:meal, :staple_food_id, StapleFood.all, :id, :name) %>
      </div>
      <div class='food-count1'>
        <%= collection_select(:meal, :staple_food_count_id, Count.all, :id, :name) %>
      </div>
      <div class='calculation'>
        <div class='carbohydrates'>
          炭水化物：<span id='nutrients1-1'></span>
        </div>
        <div class='protein'>
          タンパク質：<span id='nutrients2-1'></span>
        </div>
        <div class='lipid'>
          脂質：<span id='nutrients3-1'></span>
        </div>
      </div>
    </div>
  </div>
  <%# /主食 %>

  <%# 主菜 %>
  <div class='staple-food-main'>
    <h2 class='staple-food-title'>
      主菜
    </h2>
    <div class='staple-food-text'>
      <p class='input-text'>
        1. 食品名を選択してください
      </p>
      <p class='input-text2'>
        2. 数を選択してください
      </p>
    </div>
    <div class='staple-food-input'>
      <div class='food-name2'>
        <%= collection_select(:meal, :main_dish_id, MainDish.all, :id, :name) %>
      </div>
      <div class='food-count2'>
        <%= collection_select(:meal, :main_dish_count_id, Count.all, :id, :name) %>
      </div>
      <div class='calculation'>
        <div class='carbohydrates'>
          炭水化物：<span id='nutrients1-2'></span>
        </div>
        <div class='protein'>
          タンパク質：<span id='nutrients2-2'></span>
        </div>
        <div class='lipid'>
          脂質：<span id='nutrients3-2'></span>
        </div>
      </div>
    </div>
  </div>
  <%# /主菜 %>

  <%# 副菜 %>
  <div class='staple-food-main'>
    <h2 class='staple-food-title'>
      副菜
    </h2>
    <div class='staple-food-text'>
      <p class='input-text'>
        1. 食品名を選択してください
      </p>
      <p class='input-text2'>
        2. 数を選択してください
      </p>
    </div>
    <div class='staple-food-input'>
      <div class='food-name3'>
        <%= collection_select(:meal, :side_dish_id, SideDish.all, :id, :name) %>
      </div>
      <div class='food-count3'>
        <%= collection_select(:meal, :side_dish_count_id, Count.all, :id, :name) %>
      </div>
      <div class='calculation'>
        <div class='carbohydrates'>
          炭水化物：<span id='nutrients1-3'></span>
        </div>
        <div class='protein'>
          タンパク質：<span id='nutrients2-3'></span>
        </div>
        <div class='lipid'>
          脂質：<span id='nutrients3-3'></span>
        </div>
      </div>
    </div>
  </div>
  <%# /副菜 %>

  <%# 結果 %>
  <div class='result'>
    <div class='carbohydrates-result'>
      必要な炭水化物
      <div>400:<span id='result1'></span></div>
    </div>
    <div class='protein-result'>
      必要なタンパク質
      <div>65:<span id='result2'></span></div>
    </div>
    <div class='lipid-result'>
      必要な脂質
      <div>50:<span id='result3'></span></div>
    </div>
  </div>
</div>